body {
    background-color: #0C121C; /* Color oscuro de fondo */
    color: #0C121C;; /* Texto en blanco para mejor visibilidad */
    font-family: Arial, sans-serif; /* Fuente legible */
    margin: 0;
    padding: 0;
}

.card{
    background-color:rgba(163, 40, 163, 0.5); /* 50% de opacidad */
    
}

/*.boton{
    background: linear-gradient(135deg, #b80000, #ff4e2a, #ff6733, #ff7e3c, #ff914d);
}

.boton:hover{
    background: linear-gradient(135deg, 
    rgba(184, 0, 0, 0.75), 
    rgba(255, 78, 42, 0.75), 
    rgba(255, 103, 51, 0.75), 
    rgba(255, 126, 60, 0.75), 
    rgba(255, 145, 77, 0.75));
}*/