.genretitle {
    display: flex;
    justify-content: start;
    color: var(--color-mauveine);
}

.artists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scrollbar-width: thin;
}

.artistcard {
    width: 20%;
    background-color: rgba(97, 235, 97, 0.641);
}

.followbtn {
    background-color: transparent;
    color: var(--color-mauveine);
    border: 2px solid var(--color-mauveine);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-outline-purple:hover {
    background-color: var(--color-mauveine);
    color: white;
}

