.box{    
    background: rgb(0, 0, 0, 0.671);
    padding: 5px;        
    overflow: hidden;
    box-shadow: rgba(64, 64, 192, 0.2) 0px 7px 29px 0px;
}

.slick-slide {
    padding: 0 8px;
  }
  
.slick-slide img {
    outline: none;
    user-select: none;
    pointer-events: none;
    width: 100%;
  }

.Introcard{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-108744.jpghttps://img.freepik.com/fotos-premium/fondo-azul-claro-azul-linea-delgada-que-esta-iluminada_878128-412.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    grid-column: span 1;    
    font-family: fantasy;
    font-size: medium;
    font-size: 2rem;    
    overflow: hidden;
    
}
  
.sesenta{    
    background-image: url("https://img.freepik.com/fotos-premium/fondo-oscuro-abstracto-algunas-lineas-suaves-algunas-manchas-el_947073-2945.jpg");
    background-size: cover;
    color: white; /* Espacio horizontal entre las tarjetas */
    margin-bottom: 15px;
    margin-left: -5px;
    font-family: fantasy;
    font-size: 4rem;    
    box-shadow: rgba(56, 70, 190, 0.15) 0px 5px 15px 0px;
}

.sesenta:hover {
    background-color: #ce540e; 
    background-image: none; 
    cursor: pointer;
}

.setenta{    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdlz046gwJGAKv0P8eLO4unI3ZAw4-sKJEwgSIaJG-PfQ9novjJaID5P7sKRK-DWYm-4E&usqp=CAU");
    background-size: cover;
    background-color: black;
    color: white; 
    margin-left: -9px;
    font-family: fantasy;
    font-size: 4rem;
    box-shadow: rgba(56, 70, 190, 0.15) 0px 5px 15px 0px;
}

.setenta:hover {
    background-color: #4f6a72; 
    background-image: none; 
    cursor: pointer;
}

.ochenta{    
    background-image: url("https://img.freepik.com/fotos-premium/fondo-azul-oscuro-algunas-lineas-lisas-el-diseno-grafico-abstracto_956363-1697.jpg?w=360");
    background-size: cover;
    background-color: black;
    color: white; /* Espacio horizontal entre las tarjetas */
    margin-bottom: 15px;
    margin-left: -5px;
    font-family: fantasy;
    font-size: 4rem; 
    transition: background-color 0.3s ease;  
    box-shadow: rgba(56, 70, 190, 0.15) 0px 5px 15px 0px; 
}
.ochenta:hover {
    background-color: #0a6885; 
    background-image: none; 
    cursor: pointer;
}

.noventa{
    background-image: url("https://img.freepik.com/fotos-premium/fondo-oscuro-abstracto-algunas-lineas-lisas-el_941265-11745.jpg");
    background-size: cover;
    color: rgb(230, 220, 220);     
    font-family: fantasy;
    font-size: 4rem;
    margin-left: -9px;
    box-shadow: rgba(56, 70, 190, 0.15) 0px 5px 15px 0px;
}

.noventa:hover {
    background-color: #480761; 
    background-image: none; 
    cursor: pointer;
}

.grid-container {
    grid-template-columns: 1fr 1fr; /* Dos columnas a la izquierda */
    grid-template-rows: auto auto; /* Dos filas debajo */
    gap: 20px; /* Espaciado entre las columnas y filas */   
    display: flex;
    overflow: hidden; 
  }

