.navbar{
    background-color: rgba(5, 5, 5, 0.671);
}

.navbar-brand{
    color: white;
    font-family: fantasy;
    font-size: 30px;
}
.navbar-brand:hover {
    color: white
  }

.circle{
    color: rgb(233, 65, 65);
    font-size:30px;
    margin-right: 10%;    
}

.search{
    margin-right: 10px;
    height: 32px;    
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    height: 38px;  
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    height: 30px;
    margin-top: 4px;    
    background-color: transparent;
    border: 1px solid rgb(168, 56, 56);
}
 

input.form-control::placeholder{
    color: rgb(168, 162, 162);
}





