.card-title1{
    font-family: fantasy;
    color: white;
}

.card-title2{
    margin-top: 5px;
    font-family: fantasy;
    color: white;
}

.label{
    color: white;
}

.card{
    background-color: black;
}

.slider-container {
    position: relative;
    height: 486px; /* Ajusta según el tamaño deseado */
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 150px;  /* Asegura que las imágenes tengan el mismo tamaño */
    object-fit: cover;  /* Ajusta las imágenes sin distorsionarlas */
  }


  